# config/config.yml
# Services list for diagnostics
check_services:
  - nova
  - cinder
  - neutron
  - keystone
  - rabbitmq
  - galera

# Timing parameters
intervals:
  check_interval: 5          # Interval between checks (seconds)
  collection_window: 300      # Data collection window (seconds) - 5 minutes
#  snapshot_retention: 10      # Store 30 snapshots (5 min / 10 sec)

endpoints:
  rabbitmq_port: 15672
  mariadb_port: 3306

heartbeat_requests_services: 4