[defaults]
gather_facts = false
timeout = 10
# Используем структурированный формат (YAML)
stdout_callback = dense
# Отключаем отображение успешных и пропущенных задач, чтобы сосредоточиться на ошибках и изменениях
display_ok_hosts = False
display_skipped_hosts = False
# Включаем callback-плагины для корректной работы ansible-runner
bin_ansible_callbacks = True

[privilege_escalation]
become = true
become_method = sudo